# Editor backup files
*~
*.bak
*.backup
# Vim files
*.swp
*.swo
*.un~
*.un~
*.un~
# Other common unwanted files
.DS_Store
Thumbs.db
*.log
*.tmp
# archLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig
pkg/
src/
